<div class="wrapper">

  <app-header></app-header>

  <!-- Left side column. contains the logo and sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <strong>Version</strong> ag-Grid v1
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer>

  <app-sidebar-control></app-sidebar-control>
</div>
<!-- ./wrapper -->
